

body{
    padding: 0;
    margin: 0;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background: #fff;
    color: #333;
}
*{
   box-sizing: border-box;
    vertical-align: top; 
}
a{
    text-decoration: none;
    color: #ea5933;
}


/*Start Header*/
.m-header{
    background: #ffffff;
    height: 45px;
    z-index: 111;
    box-shadow: -2px 2px 4px rgba(153,153,153,0.75);
    text-align: center;
}
.m-brand{
    display: inline-block;
    width: 43px;
    height: 43px;
    background: url(../img/sprite.png);
    background-size: 185px;
    background-position: -5px -5px;
    background-repeat: no-repeat;
    color: #fff;
    padding: 8px 0 0 6px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0px;
    margin-top: 1px;
    vertical-align: bottom;
}
/*End Header*/
#scroll-top{
	display: none;
}

/*Start Body*/
.m-body{
    padding: 15px;
    cursor: pointer;
}

/*Start path-way*/
.path-way ul{
  
      list-style: none;
    padding: 0;
    overflow-x: auto ;
    white-space: nowrap;
    padding-bottom: 5px;
	margin-bottom: 0;
}
hr{
	margin-top: 5px !important;
}
.path-way ul li{
    display: inline-block;
    font-size: 14px;
	padding: 5px 0;
	
}
.path-way ul li:last-child{
	padding-right: 30px
}
.path-way ul li a{
    display: block;
   
    font-weight: bold;
    position: relative;
    color: #6a7072;
    -webkit-tap-highlight-color: transparent;
}
.path-way ul li a::after{
    content: url("../img/next.png");
    margin: 0 0px 0 5px;
    position: relative;
    bottom: -4px;  
}
.path-way ul li:last-child a{
    height: 21px;
     position: relative;
    bottom: -2px;
    color: #ea5933;
}
.path-way ul li:last-child a::after{
   content: none;
   
}
.path-way ul li a:hover{
    text-decoration: underline;
}
/*End path-way*/
.marg{
   margin: 20px 20px; 
}
/*Start ad-title*/
.ad-title h1{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    font-family: inherit;
    margin-bottom: 0;
    margin-top: 0;
}
.price{
    color: #07b000;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    text-align: right;
    margin-top: 20px
}
/*End ad-title*/
.ad-post-date{
    color: #6a7072;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-align: right;
    margin: 10px 20px;

}
/*Start title-border*/
.title-border{
    border: 1px solid #d8d9da;
    border-radius: 6px;
    margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
/*End title-border*/
/*Start Slider*/


    /*.slider img{
        border-radius: 5px;
        margin: auto;
        width: 500px;
       
    }*/
.slider {
    position: relative;
}
.slider img{
    min-height: 100% !important;
    object-fit: cover;
}
.fotorama__wrap--css3 .fotorama__stage .fotorama__img{
    width: 100% !important;
   min-height: 100% !important;
    object-fit: cover;
    left: 0 !important;
    border-radius: 5px !important;
	
   
}
.fotorama__stage__frame.fotorama__active{
    border-radius: 5px;
    
}
.fotorama__arr{
	display: none !important;
}
.num{
    position: absolute;
    text-align: center;
    bottom: 77px;
    left: 0px;
    right: 0;
    font-size: 15px;
    background-color: rgba(0,0,0,.4);
    color: #fff;
    display: inline-block;
    width: 70px;
    padding: 5px 2px;
    border-radius: 5px;
    
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
         height: 250px;
    object-fit: cover;
   
    object-position: center;
}
.carousel-control.left,.carousel-control.right{
       background: none;
    }
.carousel-indicators{
    bottom: -15px;
}


/*End Slider*/
/*Start Description*/
.des{
    position: relative;
    margin: 30px 0px 20px 0px;
}
.description,.details{
    padding: 10px 20px 0px 20px;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.description h3,.details h3{
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    color: #ea5933;
    margin: 0 0 15px 0;
}
.description-p{
    padding-top: 10px;
     border-top: 3px solid #07b000;
}




/*End Description*/
.details{
    margin-top: 10px;
}
.details ul{
     border-top: 3px solid #07b000;
    list-style: none;
    padding: 0;
    margin: 0;
}
.details ul li{
    list-style: none;
    padding: 5px 0;
    color: #6a7072;
    line-height: 30px;
    border-bottom: 1px dotted #DDD;
}
.details ul li .attr{
    font-weight: 600;
    color: #333;
    width: 43%;
    display: inline-block;
}
.details ul li .value{
    width: 55%;
    display: inline-block;
    vertical-align: top;
    color: #1E98D5;
    font-weight: bold;
}

/*End Body*/
.location{
    border: 1px solid #d8d9da;
    border-radius: 6px;
    overflow: hidden;	
margin-left: 20px;
	margin-right: 20px;

}
.location .location-icon{
    display:inline-block;
    padding: 10px;
    background-color:#1E98D5;
    color:#FFF;
}
.location .location-icon i{
    text-align: left;
    font-size: 20px; 
}
.location .location-path{
     display:inline-block;
     padding: 10px;   
}
.location .T{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    border: 1px solid #1E98D5;
    color: #1E98D5;
    margin-top: 10px
} 
.location .T i{
    display: block;
    text-align: center;
    font-size: 10px;
    padding: 5px;
}

/*Start contact*/


.contact{
   overflow: hidden;

    background: #fff;
    padding-top:6px;
    border: 1px solid #d8d9da;
    z-index: 9999; 
	
}
.contact1{
   overflow: hidden;
    background: #fff;
    padding-top:6px;
    border: 1px solid #d8d9da;
    z-index: 9999;  
    margin: 0 -15px;
	
    
    
}
.contact .cont-box a{
	display: block;
	padding: 10px;
}
.contact .cont-box,.contact1 .cont-box{
    float: left;
    width: 25%;
    text-align: center;
}
.contact .cont-box img,.contact1 .cont-box img{
    display: inline-block;
    width: 25px;
    height: 25px;
}
.contact .cont-box span,.contact1 .cont-box span{
    display: block;
    padding: 2px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
   
}
.contact .phone,.contact1 .phone{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/imag-png.png);
    background-size: 100px;
    background-position: -1px 1px;
    background-repeat: no-repeat;
	
}
.contact .whatsapp,.contact1 .whatsapp{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/imag-png.png);
  background-size: 100px;
    background-position: -27px 1px;
    background-repeat: no-repeat;
	
}
.contact .sms,.contact1 .sms{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/imag-png.png);
        background-size: 100px;
    background-position: -52px 1px;
    background-repeat: no-repeat;
	
}
.contact .email,.contact1 .email{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../img/imag-png.png);
    background-size: 98px;
    background-position: -75px 1px;
    background-repeat: no-repeat;
	
}
.clearx{
    clear: both;
}
/*End contact*/
/*Start spot box*/
.xx{
	padding: 15px;
}
.spot{
	
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    color: #ea5933;
    margin: 0px 0px 0px 0px;
	padding: 10px 15px;
	background-color: #eef0f3;
}
.spot-box{
    border: 1px solid #d8d9da;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 10px;
	
}
.inner-box{
    overflow: hidden;
    padding:  5px;
    position: relative;
    border-bottom: 1px solid #d8d9da; 
}
.inner-box:last-child{
    border-bottom:none;
}
.img-box1{
	 float: left;
    width: 40%;
    border-radius: 5px;
}
.img-box{
   position: relative;
   width: 100%;
   padding-top: 60%;
}
.img-box img{
	width: 100%;
   position:  absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
	border-radius: 5px;
	
}
.contt-box{
     float: left;
    width: 60%;
   padding: 2px 5px;
   
}
.title-box{
    line-height: 1;
     font-weight: 600;
}
.title-box h1{
    font-size: 13px;
    font-weight: 600;
    color: #333;
    font-family: inherit;
    margin-bottom: 4px;
    margin-top: 0;
}
.price-box{
    font-weight: 300;
    position: absolute;
      bottom: 3px;
    
}
/*End spot box*/
li.th{
}
.d{
	display: none;
	text-align: center;
 }
.dd{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background-color:#eef0f3;
	font-size: 15px;
	padding: 7px;
	color: #fff;
}
/*Start Footer*/
.m-footer{
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 10px 0px;
    color: #999;
    font-size: 12px;
    font-weight: 200;
    text-shadow: -1px 1px 2px #cecece;
}
/*End Footer*/


.m-container,
.contact{
	    max-width: 700px;
    margin-right: auto;
	margin-left: auto;
	
}
.z{
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	background-color: #fff;
	z-index: 1200;
}
.swal-footer {
    text-align: center;
}